.search-bar__container {
  border-bottom: 1px solid var(--light-theme-border);
  padding: 0.5rem 1rem;
}

.search-bar__container form {
  margin: auto;
}

.extra-links {
  margin-left: 0.5rem;
  line-height: 1.6rem;
}

.extra-links > * {
  font-size: 13px;
  color: var(--gray);
  margin: 4px;
}

.extra-links a:hover {
  text-decoration: underline;
}

.extra-links > *:first-child {
  margin-left: 0;
}

.extra-links > *:last-child {
  margin-left: 0;
}
