.search-bar__container {
  border-bottom: 1px solid var(--light-theme-border);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  align-items: center;
}

.search-bar__container img {
  display: none;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.search-bar__container form {
  margin: auto;
  flex: 2;
}

.extra-links {
  margin-left: 0.5rem;
  line-height: 1.6rem;
}

.extra-links > * {
  font-size: 13px;
  color: var(--gray);
  margin: 4px;
}

.extra-links a:hover {
  text-decoration: underline;
}

.extra-links > *:first-child {
  margin-left: 0;
}

.extra-links > *:last-child {
  margin-left: 0;
}

.search-bar__container > div {
  display: none;
}


@media screen and (max-width: 499px) {
  .search-bar__container > div {
    display: flex;
  }
}