.nav-container {
  display: flex;
  justify-content: center;
  padding-top: 12px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-right: 1rem;
}

.nav__item {
  display: flex;
  font-size: 20px;
  gap: 20px;
  /* word-spacing: 10%; */
  color: var(--dark-theme-color);
  padding: 12px;
  border-radius: 2rem;
  transition: all 250ms ease-in-out;
  text-align: center;
  cursor: pointer;
}

.nav__item:hover {
  background-color: #eaeaea;
}

.nav__item i {
  font-size: 26px;
}

#twitter-icon {
  color: var(--blue-primary);
  padding: 0;
  width: fit-content;
}

#twitter-icon:hover {
  background-color: #c3e7ff;
}

#twitter-icon i {
  font-size: 28px;
  padding: 8px;
}

#nav__tweet {
  display: block;
}

#nav__tweet:hover {
  background: none;
}

#nav__tweet > * {
  width: 100%;
  cursor: pointer;
  transition: background-color ease-in 450ms;
}

#nav__tweet > *:hover {
  background-color: #1a83c9;
}

#add-tweet-icon {
  background-color: transparent;
  color: var(--blue-primary);
}

#add-tweet-icon:hover {
  background-color: transparent;
  color: #1a83c9;
}

@media screen and (max-width: 1264px) {
  .nav-container {
    justify-content: flex-end;
  }

  .nav__item {
    justify-content: center;
  }

  #twitter-icon {
    transform: translateX(4px);
  }

  #add-tweet-icon {
    transform: translateX(2px);
  }

  .nav .nav__item p {
    display: none;
  }

  .nav .nav__item button {
    display: none;
  }
}

@media screen and (min-width: 1265px) {
  .nav .nav__item #add-tweet-icon {
    display: none;
  }
}
