.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .2rem;
    border-bottom: 1px solid var(--light-theme-border);
}

.profile__top {
    display: flex;
    width: 100%;
    padding: .5rem;
    padding-bottom: 0;
}

#ham-menu__btn {
    display: none;
    justify-content: center;
    transform: translateY(-2px);
}

.profile > img {
    display: block;
    width: 100%;
    max-height: 198px;
    background-repeat: no-repeat;
    cursor: pointer;
    object-fit: cover;
}

.profile__bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile__top-left {
    display: flex;
    transform: translateX(10px);
}

.profile__top-left > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#icon {
    justify-content: center;
    padding: 0 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color ease-in-out 250ms;
}

#icon:hover {
    background-color: #eaeaea;
}

.profile__top-left > div p {
    color: var(--gray);
    font-size: smaller;
}

.profile__bottom-middle {
    display: flex;
    padding: 0 .5rem;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.profile__bottom-middle img {
    max-width: 133px;
    aspect-ratio: 1;
    border: 1px solid var(--dark-theme-background);
    border-radius: 50%;
    transform: translateY(-50%) translateX(10%);
    cursor: pointer;
    object-fit: cover;
    width: 17vw;
}

.profile__bottom-middle button {
    transform: translateY(.5rem);
}

.profile__bottom-bottom {
    transform: translateY(-2.5rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .7rem;
    padding: 0 1rem;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .2rem;
}

.user-info p {
    color: var(--gray);
}

.user-date-joined {
    color: var(--gray);
}

.follow {
    display: flex;
    gap: .8rem;
}

.follow span {
    color: var(--gray);
    margin-right: 2px;
}

.user-follow {
    display: flex;
    cursor: pointer;
}

.user-follow:hover {
    text-decoration: underline;
}

.profile-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.small-profile__section {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 12px;
    gap: 10px;
    transition: ease-in-out 400ms background-color;
}

.small-profile__section:hover {
    background-color: #eaeaea;
}

.small-profile__left-part img {
    margin: auto;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.small-profile__right-part {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3px;
    flex: 2;
}

.small-profile__right-top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.small-profile__user-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
}

#small-profile__fullname {
    color: #000;
    font-weight: bold;
}

#small-profile__username {
    color: var(--gray);
}

.small-profile__right-bottom p {
    font-weight: lighter;
    word-spacing: .3rem;
}

@media screen and (max-width: 499px) {
    .profile__bottom-middle img {
        width: 25vw;
    }

    .profile__bottom-bottom {
        margin-top: .7rem;
    }

    #ham-menu__btn {
        display: flex;
    }

    .profile__top-left {
        gap: 1.5rem;
        transform: none;
    }
}