.search-bar {
    display: flex;
    padding: 1rem;
    margin-top: 4px;
    background-color: var(--light-theme-border  );
    gap: 1rem;
    border-radius: 10rem;
    position:relative;
}

.search-bar:focus-within {
    border: 1px solid var(--blue-primary);
}

.search-bar input {
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
}

.search-bar i {
    color: #536471;
}

.search-results {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 49px;
    width: 100%;
    min-width: fit-content;
    padding: 2rem 1rem;
    border-radius: 5px;
    border: 1px solid var(--light-theme-border);
    background-color: var(--light-theme-background);
}

.search-results p {
    color: var(--gray);
    font-size: 15px;
    font-weight: lighter;
}

.profiles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.profile {
    display: flex;
    width: 100%;
    gap: 10px;
    color: var(--gray);
    align-items: center;
    justify-content: flex-start;
    padding: .5rem;
    cursor: pointer;
    transition: background-color 300ms ease-in;
}

.profile:hover {
    background-color: #eaeaea;
}

.search-results img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}


.profile__info  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
}

#full-name {
    font-weight: bold;
    color: var(--light-theme-color);
}

.hidden {
    display: none;
}