:root {
  --blue-primary: #1D9bf0;
  --gray: #71767b;
  --dark-theme-background: #000;
  --dark-them-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.btn {
  background-color: var(--blue-primary);
  color: #fff;
  border: transparent .1px solid;
  padding: 12px 18px;
  border-radius: 2rem;
}

.btn--disabled {
  background-color: #2f80bb;
  color: #eee;
}
